$color-primary: #f54c00;
$color-primary-accent: darken($color-primary, 20);
$color-bg: #eee;
$color-bg-page: #f5f5f5;
$color-grey: #555;
$box-shadow: 0 0 10px #ddd;

$v-spacer: 20px;
$h-spacer: 15px;
$container-max-width: 1200px;

$cursive-font: "'Courgette', cursive";
$text-font: "'Lora', serif";

// @todo - put into global stylesheet
html {
  font-family: unquote($text-font);
  font-size: 22px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

h1, h2 {
  font-family: unquote($cursive-font);
  font-weight: normal;
  color: $color-grey;
  letter-spacing: 1px;
  margin: ($v-spacer*2) 0 $v-spacer 0;
}

h3, h4, h5, h6 {
  font-family: unquote($text-font);
  font-weight: 700;
  color: $color-grey;
  margin: ($v-spacer*2) 0 $v-spacer 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  text-align: justify;
}
