$color-primary: #f54c00;
$color-primary-accent: darken($color-primary, 20);
$color-bg: #fdfdfd;
$color-bg-page: white;
$color-grey: #555;
$box-shadow: 0 1px 10px #ddd;

$v-spacer: 20px;
$h-spacer: 15px;
$container-max-width: 1200px;

$cursive-font: "'Courgette', cursive";
$text-font: "'Lora', serif";
